body {
    background-image: url(2.jpg);
    background-position: center;
    background-size: cover;
    height: 95vh;
    display: flex;
    backdrop-filter: blur(3px);
    margin-top: 25px;
    font-family: cursive;
}

.topbar {
    margin-left: 92px;
    width: 1100px;
    height: 80px;
    background: radial-gradient(rgba(255,255,255,0.6));
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius: 20px;
    backdrop-filter: blur(3px);
}

nav {
    display: flex;
    padding: 12px 5%;
}

.logo {
    margin-top: 5px;
    color: #fff;
    font-size: 35px;
    float: left;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    transition: 0.2s ease;
}

nav ul li a:hover {
    color: #fff;
}

.bars {
    list-style: none;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    margin-left: 60px;
    margin-right: -20px;
}

.active {
    color: #fff;
}

.main {
    display: flex;
    margin: 20px;
}

.content {
    background-image: url(2.jpg);
    background-position: center;
    background-size: cover;
    width: 930px;
    height: 500px;
    background: radial-gradient(rgba(255, 255, 255, 0.404));
    box-shadow: 0 0 10px rgba(245, 114, 7, 0.76);
    padding-left: 52px;
    margin-left: 72px;
    border-radius: 20px;
    overflow: auto; /* Menampilkan scrollbar hanya jika kontennya terlalu panjang */
    overflow-y: scroll; /* Mengizinkan scrolling vertikal */
}

.content h1 {
    color: rgb(253, 100, 11);
}

.content p {
    color: rgb(10, 10, 10);
}

button {
    cursor: pointer;
    text-decoration: none;
    padding: 6px 16px;
    font-size: 18px;
    color: #000;
    background-color: #fff;
    font-family: cursive;
    border: 0;
    outline: 0;
    border-radius: 5px;
    transition: 0.2s ease;
}

button:hover {
    background-color: orange;
}

.icons {
    margin-left: 35px;
    width: 80px;
    height: 500px;
    background: radial-gradient(rgba(255,255,255,0.6));
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    border-radius: 20px;
    backdrop-filter: blur(3px);
}

.social-icons ul li {
    list-style: none;
    margin-top: 55px;
    margin-left: -
